section{
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
ul{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vw;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    width: 17%;
}
li:hover{
    box-shadow:1px 2px 2px #ccc;
}